/* Contenedor principal del ItemListContainer */
.item-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center; /* Centra las tarjetas horizontalmente */
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Espaciado entre los items */
  .item-list-container > * {
    margin: 0;
  }
  .skeleton-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

  }
  